body{
    font-family:Mitr;
}
.image {
    width: 20%;
    height: 20%;
    display: block;
    margin: auto;
    margin-bottom: 50px;
}
.classname{
    font-size: 500%;
}
.clock{
    font-size: 500%;
}
.space{
    height: 120px;
}
.gotoclass{
    display: inline-block;
    width: 25%;
    margin-bottom: 25px;
}
.desc{
    display: block;
}
#main{
    display:block;
}